<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.dao.RoleDao">
	<select id="getRoleObjects" resultType="com.system.entity.Role">
		select * from user
	</select>
	<insert id="addRoleObject" parameterType="com.system.entity.Role">
		insert into user values(null,#{account},#{username},#{password},#{power})
	</insert>
	<delete id="deleteRoleObject" parameterType="int">
		delete from user where id = #{id}
	</delete>
	<update id="updateRoleObject">
		update user set 
			account=#{role.account},
			username=#{role.username},
			password=#{role.password},
			power=#{role.power}
		where id=#{id}
	</update>
</mapper>